@import "tailwindcss";




@theme{

   /* colors */
   
  --color-blue-500: #4BAF47;



}

@utility container{
    @apply mx-auto px-4
}

@media (min-width: 1536px) {
    .container{
        max-width: 73.125rem;
    }
}
