
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";




@theme{

    /* font-family */

    --font-manrope:"manrope",ui-sans-serif, system-ui, sans-serif;
    --font-grace: "Covered By Your Grace", cursive;

   /* colors */
   
  --color-blue-500: #4BAF47;



}

@utility container{
    @apply mx-auto px-4
}

@media (min-width: 1536px) {
    .container{
        max-width: 73.125rem;
    }
}
